<!doctype html>
<html ng-app="dagchat">
<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.min.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
</head>
<body ng-controller="chatController">
  <div class='container'>
    <div class='col-md-2'>
      <nav class="col-xs-3 bs-docs-sidebar">
        <ul id="sidebar" class="nav nav-stacked fixed">
          <li ng-class="path.active" ng-repeat="path in uniquePaths">
            <a href="#" ng-click="changeCompositePath($index)">{{$index}}</a>
            <ul class = "nav nav-stacked">
              <li ng-class="unique.active" ng-repeat= "unique in path">
                <a href="#" ng-click="changeUniquePath($index)">{{$index}}</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class='col-md-10'>
      <ul id="messages">
        <li ng-class="message.selected" ng-repeat="message in selectedMessages" ng-click="selectMessage(message)">{{message.text}}</li>
      </ul>
    </div>
  </div>
  <div id='input-holder'>
    <input id="m" autocomplete="off" ng-model="currentMessage"/>
    <button ng-click="postMessage(currentMessage)">Send</button>
  </div>
  <!-- bower:js -->
  <!--<script src='bower_components/jquery/dist/jquery.js'></script>-->
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/angular-socket-io/socket.js'></script>
  <script src='bower_components/angular-mocks/angular-mocks.js'></script>
  <script src='bower_components/angular-hotkeys/build/hotkeys.min.js'></script>
  <!--TODO figure out how to not have bootstrap js and jquery show up -->
  <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
  <!-- endbower -->
  <!-- the following bower packages are not set up correctly -->
  <script src='bower_components/socket.io-client/socket.io.js'></script>
  <script src='public/javascripts/dagchat_client.js'></script>
  <script src='public/javascripts/services/dagPathBuilder.js'></script>
  <script src='public/javascripts/services/userService.js'></script>
  <script src='public/javascripts/controllers/chatController.js'></script>
  <script src='public/javascripts/controllers/userController.js'></script>
</body>
</html>
