<!doctype html>
<html ng-app="dagchat">
<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.min.css" />
  <!-- endbower -->
</head>
<body ng-controller="chatController">
  <ul id="messages">
    <li ng-class="message.selected" ng-repeat="message in selectedMessages" ng-click="selectMessage(message)">{{message.text}}</li>
  </ul>
  <div id='input-holder'>
    <input id="m" autocomplete="off" ng-model="currentMessage"/>
    <button ng-click="postMessage(currentMessage)">Send</button>
  </div>
  <!-- bower:js -->
  <script src='bower_components/jquery/dist/jquery.js'></script>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/angular-socket-io/socket.js'></script>
  <script src='bower_components/angular-mocks/angular-mocks.js'></script>
  <script src='bower_components/angular-hotkeys/build/hotkeys.min.js'></script>
  <!-- endbower -->
  <!-- the following bower packages are not set up correctly -->
  <script src='bower_components/socket.io-client/socket.io.js'></script>
  <script src='public/javascripts/dagchat_client.js'></script>
</body>
</html>
