<!doctype html>
<html ng-app="dagchat">
<head>
  <title>Socket.IO chat</title>
  <link rel='sylesheet' type='text/css' href='public/stylesheets/style.css'>
  <!-- bower:css -->
  <!-- endbower -->
</head>
<body ng-controller="chatController">
  <ul id="messages">
    <li ng-class="message.selected" ng-repeat="message in chatMessages" ng-click="selectMessage(message)">{{message.text}}</li>
  </ul>
  <input id="m" autocomplete="off" ng-model="currentMessage"/>
  <button ng-click="postMessage(currentMessage)">Send</button>
  <!-- bower:js -->
  <script src='bower_components/jquery/dist/jquery.js'></script>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/angular-socket-io/socket.js'></script>
  <!-- endbower -->
  <!-- the following bower packages are not set up correctly -->
  <script src='bower_components/socket.io-client/socket.io.js'></script>
  <script src='public/javascripts/dagchat_client.js'></script>
</body>
</html>
